:root {
  --lightRed: #dc0b1b;
  --darkRed: #c61624;
  --logoBlue: #29265b;
  --loglBlack: #060707;
  --white: #fff;
  --boxShadow: 0px 4px 10px 4px #0000002e;
  --grayBackground: #eaebedbf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

/*scroll bar*/
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--lightRed);
  border-radius: 8px;
}

/*general clases*/
.activNavLink {
  border-bottom: 3px solid var(--lightRed);
  border-top: 3px solid var(--lightRed);
  border-radius: 5px;
}

.activNavLink a {
  color: var(--lightRed) !important;
}

.contactBtn {
  background-color: var(--darkRed);
  color: var(--white);
  border-radius: 5px;
}

.contactBtn:hover {
  background-color: var(--white);
  border: 2px solid var(--darkRed);
  color: var(--darkRed);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.contactBtn:focus {
  box-shadow: none;
}

.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  box-shadow: var(--boxShadow);
  padding: 10px 20px;
  font-size: 30px;
  width: 150px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--logoBlue);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--darkRed);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  transition-delay: 0.5s;
}

@media (max-width:425px) {
  .main-title {
    width: 80%;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .main-title {
    width: 50%;
  }
}

@media (min-width:769px) and (max-width:991px) {
  .main-title {
    width: 35%;
  }
}

@media (min-width:992px) {
  .main-title {
    width: 40%;
  }
}

/*general animation*/
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(1vw);
    transform: translateX(1vw);
  }

  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1vw);
    transform: translateX(1vw);
  }

  100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

/*start nav*/
nav {
  font-weight: 500;
  box-shadow: var(--boxShadow);
}

nav .logoCutoum {
  display: contents;
}

nav .logoCutoum img {
  width: 15%;
}

@media (max-width:576px) {
  nav .logoCutoum img {
    width: 35%;
  }
}

#elevatorNav ul {
  flex-direction: row-reverse;
}

#elevatorNav ul a {
  color: var(--logoBlue);
}

@media (max-width:991px) {
  #elevatorNav ul {
    flex-direction: column;
    align-items: center;
  }
}

/*start hero section*/
.heroSec {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6rem;
}

@media (max-width:768px) {
  .heroSec {
    margin-top: 5rem;
  }
}

.heroSec img {
  border: 1px solid var(--lightRed);
  border-radius: 5px;
  animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

.heroSec h1 {
  color: var(--darkRed);
  font-size: 3rem;
  font-weight: bold;
}

.heroSec p {
  color: var(--logoBlue);
  font-size: 1.4rem;
}

/*start service + whyUs*/
.serviceSec,
.whyUs {
  background-color: var(--grayBackground);
  margin: 3rem 0;
  padding: 3rem 0;
}

.serviceSec .card,
.whyUs .card {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid var(--lightRed);
  margin-bottom: 1.25rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 435px;
}

.serviceSec .card:hover,
.whyUs .card:hover {
  border: 2px solid transparent;
  filter: drop-shadow(4px 10px 4px #0000002e);
  transition: all 0.5s ease-in-out;
}

.whyUs .card img {
  width: 18vw;
}

@media (max-width:767px) {
  .whyUs .card img {
    width: 50vw;
  }
}

@media (min-width:1024px) {
  .whyUs .card img {
    width: 15vw;
  }
}

@media (min-width:1600px) {
  .whyUs .card img {
    width: 8vw;
  }
}

.serviceSec .card .card-title,
.serviceSec .card .card-text,
.whyUs .card .card-title,
.whyUs .card .card-text {
  text-align: right;
}

.serviceSec .card .card-title,
.whyUs .card .card-title {
  color: var(--darkRed);
  font-weight: bold;
  font-size: 1.7rem;
}

.serviceSec .card .cardList,
.whyUs .card .card-text {
  color: var(--logoBlue);
  list-style: arabic-indic;
  text-align: right;
}

/*start partners*/
.partners {
  padding: 3rem 0;
  margin: 3rem 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*start about us*/
.aboutUs {
  background-color: var(--grayBackground);
  padding: 3rem 0;
  margin: 3rem 0;
}

.aboutUs p {
  text-align: right;
  color: var(--logoBlue);
  font-size: 1.2rem;
}

.aboutUs p span {
  color: var(--darkRed);
  font-size: 1.5rem;
  font-weight: bold;
}

/*start offers*/
.offers {
  padding: 3rem 0;
  margin: 3rem 0;
  animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

.offersDetails {
  border-radius: 60px;
  box-shadow: var(--boxShadow);
  padding: 5rem;
}

.offers p {
  color: var(--logoBlue);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*start contact*/
.contact iframe {
  border: 0;
  box-shadow: var(--boxShadow);
  border-radius: 8px;
}

/* start social*/
.social {
  background-color: var(--grayBackground);
  padding: 3rem 0;
  margin: 3rem 0 0 0;
}

.social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.social ul li {
  margin: 5px 0;
  list-style-type: none;
}

.social ul li a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  text-decoration: none;
  box-shadow: inset 14px -4px 15px 0px rgb(0 0 0 / 30%);
  background: linear-gradient(90deg, #ddd, #fff);
  font-size: 1.7rem;
  color: var(--logoBlue);
  transition: all 0.5s ease-in-out;
}

.social ul li a:hover {
  box-shadow: 0px 8px 7px 2px rgb(0 0 0 / 30%);
  text-decoration: none;
  transform: rotate(1turn);
  transition: all 0.5s ease-in-out;
}

.social ul li:nth-child(1) a:hover {
  color: #ff0050;
}

.social ul li:nth-child(2) a:hover {
  color: #fffc00;
}

.social ul li:nth-child(3) a:hover {
  color: #e1306c;
}

.social ul li:nth-child(4) a:hover {
  color: #1da1f2;
}

.social ul li:nth-child(5) a:hover {
  color: #ff0000;
}

.social ul li:nth-child(6) a:hover {
  color: #34a853;
}

.social .card {
  border: none;
  box-shadow: var(--boxShadow);
}

.social .card .card-body {
  color: var(--logoBlue);
}

.social .card .card-body span,
.social .card .card-text a {
  color: var(--darkRed);
  font-weight: bold;
}

.social .card .card-text a {
  text-decoration: none;
}

/*start loader*/
.loader img {
  padding: 1rem;
  width: 15%;
  animation: slide-left 10s linear infinite both;
}

@media (max-width:768px) {
  .loader img {
    width: 30%;
  }
}

.loader p {
  color: var(--darkRed);
  font-weight: bold;
}

/*start whats*/
.whatsIcon {
  background-color: #ece5dd;
  padding: 1rem;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 1000;
  animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

.whatsIcon a {
  text-decoration: none;
}

.whatsIcon .fa-square-whatsapp {
  font-size: 3rem;
  color: #25d366;
}